.slider-cards-container{
    display: flex;
    width: fit-content;
    max-width: 250px;
    min-height: 100px;
    align-items: center;
    border-radius: 16px;
    box-shadow: 0px 4px 16px 4px rgba(0, 0, 0, 0.10);
  }
  .slider-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 16px;
    background: #ffffff;
    max-width: 250px;
    min-height: 100px;
    padding-top: 40px;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: #273646 !important; /* Set the color to dark (black) */
    font-size: 24px; /* Adjust the font size as needed */
  }
  
  /* You can also customize other arrow properties, e.g., hover color */
  .slick-prev:hover:before,
  .slick-next:hover:before {
    color: #273646!important; /* Darker color on hover (optional) */
  }
  .card-title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
  }
  
  .card-data-wrapper {
    display: flex;
    justify-content: space-evenly;
   
  }
  
  .profit-percentage-div,
  .non-profit-percentage-div {
    padding: 4px;
    border-radius: 8px;
    display: inline-flex;
    font-size: 15px;
    text-align: left;
    color: rgb(0, 125, 0);
    background-color: rgb(194, 235, 194);
  }
  
  .non-profit-percentage-div {
    background-color: rgb(241, 194, 194);
    color: rgb(192, 25, 25);
  }
  
  @keyframes rotateImg{
    from {
     transform: rotate(0deg);
    }
   to {
    transform: rotate(359deg);
   }
  }
  .loading {
    display: flex;
    margin-top: 20px;
    position: relative;
    animation: rotateImg 1s linear infinite;
  }